#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  margin: 0;
}

h3 {
  margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  text-align: left;
  max-width: 640px;
}
.instructions > p{
  margin: 10px 0;
}

.control-player-container {
  display: flex;
  align-items: center;
}

.control-container {
  display: flex;
  justify-content: center;
}

.control {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.Game canvas {
  width: 100%;
  height: 100%;
}